{% extends 'data.html' %}
{#<html class="no-js" lang="zxx">#}
{##}
{#<head>#}
{#	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">#}
{#	<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#	<meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#	<meta name="description" content="">#}
{#	<meta name="keywords" content="">#}
{#	<meta name="robots" content="index,follow">#}
{##}
{#    <title>Crazy Mar - Job Portal</title>#}
{##}
{#	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">#}
{#	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap-select.min.css">#}
{#    <link href="assets/plugins/icons/css/icons.css" rel="stylesheet">#}
{#	<link rel="stylesheet" href="assets/plugins/nice-select/css/nice-select.css">#}
{#    <link href="assets/plugins/bootstrap/css/bootsnav.css" rel="stylesheet">#}
{#    <link href="assets/css/style.css" rel="stylesheet">#}
{#	<link href="assets/css/responsiveness.css" rel="stylesheet">#}
{#    <link href="assets/css/skin/default.css" rel="stylesheet">#}
{#    <link href="assets/css/main.css" rel="stylesheet">#}
{#    #}
{#    <style>#}
{#        body, section {#}
{#            background: #f1f1f1;#}
{#        }#}
{#    </style>#}
{#	#}
{#	</head>#}
{#	#}
{#	<body>#}
{#		#}
{#        <header class="main_header">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                <div class="col-md-12">#}
{#                <div class="cm_left_header">#}
{#					<a href="index.html"><span>Crazy Mar</span></a>#}
{#				</div>#}
{#				<div class="nav_main">#}
{#					<ul class="left-navbar">#}
{#						<li>#}
{#							<form method="post" class="search_bar">#}
{#								<input type="text" placeholder="Search videos, movies, and more" name="keyword" class="form-control">#}
{#								<span class="search-icon"><i class="fa fa-search"></i></span>#}
{#							</form>#}
{#						</li>#}
{#					</ul>#}
{#					<ul class="right-navbar">#}
{#                        #}
{#						<!--<li>#}
{#							<a class="login" href="#"><img src="img/user.png"> Sign in</a>#}
{#						</li>-->#}
{#						<li class="dropdown hoe-rheader-submenu message-notification left-min-30">#}
{#							<a href="#" class="dropdown-toggle icon-circle" data-toggle="dropdown" >#}
{#							<i class="fa fa-bell-o"></i>#}
{#							<span class="badge badge-success">6</span>#}
{#							</a>#}
{#							<ul class="dropdown-menu ">#}
{#								<li class="hoe-submenu-label">#}
{#									<h3><span class="bold">Notification</span></h3>#}
{#								</li>#}
{#								<li>#}
{#									<a href="#" class="clearfix"> #}
{#									<span class="notification-title">Database overload- Sav3090</span>#}
{#									<span class="notification-ago  ">3 min ago</span>#}
{#									</a>#}
{#								</li>#}
{#								<li>#}
{#									<a href="#" class="clearfix"> #}
{#									<span class="notification-title">Installing App v1.2.1</span>#}
{#									<span class="notification-ago  ">3 min ago</span>#}
{#									</a>#}
{#								</li>#}
{#								<li>#}
{#									<a href="#" class="clearfix"> #}
{#									<span class="notification-title">Application Error - Sav3085</span>#}
{#									<span class="notification-ago  ">10 min ago</span>#}
{#									</a>#}
{#								</li>#}
{#								<li>#}
{#									<a href="#" class="clearfix"> #}
{#									<span class="notification-title">Server Status - Sav3080</span>#}
{#									<span class="notification-ago  ">3 min ago</span>#}
{#									</a>#}
{#								</li>#}
{#								<li>#}
{#									<a href="#" class="clearfix"> #}
{#									<span class="notification-title">Application Configured</span>#}
{#									<span class="notification-ago  ">3 min ago</span>#}
{#									</a>#}
{#								</li>#}
{#								<li> #}
{#									<a href="#" class="clearfix"> #}
{#									<span class="notification-title">Server Status</span>#}
{#									<span class="notification-ago  ">3 min ago</span>#}
{#									</a>#}
{#								</li>#}
{#							</ul>#}
{#						</li>#}
{#						<li class="dropdown hoe-rheader-submenu message-notification left-min-30">#}
{#							<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#								<span><img class="img-circle user_img" src="img/avatar-1.jpg"></span>#}
{#								<!--<span><b>Laxman Lucky</b> <i class=" fa fa-angle-down"></i></span>-->#}
{#							</a>#}
{#							<ul class="dropdown-menu ">#}
{#								<li class="hoe-submenu-label">#}
{#									<div class="profile-box">#}
{#										<div class="media">#}
{#											<a class="pull-left" href="user-profile.html">#}
{#											<img class="img-circle" src="img/avatar-1.jpg">#}
{#											</a>#}
{#											<div class="media-body">#}
{#												<h5 class="media-heading">Welcome <span>Lucky</span></h5>#}
{#												<small>UI Developer</small>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</li>#}
{#								<li><a href="#"><i class="fa fa-user"></i>My Profile</a></li>#}
{#								<li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>#}
{#								<li><a href="#"><i class="fa fa-question-circle"></i>Help</a></li>#}
{#								<li><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>#}
{#							</ul>#}
{#						</li>#}
{#					</ul>#}
{#				</div>#}
{#            </div>#}
{#            </div>#}
{#            </div>#}
{#			</header>#}
{#        #}
{#        #}
{% block content %}
    {% load staticfiles %}
            <div class="full_width main_content">
                
               
                    <div class="shopping_main">
                        <div class="home-one"> 
                            
                            <nav class="navbar navbar-default navbar-mobile light bootsnav">
			<div class="container">
			
			
				<div class="collapse navbar-collapse" id="navbar-menu">
				
					<ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                        <li><a href="{% url 'jobseek' %}">Home</a></li>
{#                        <li><a href="#">Profile</a></li>#}
{#                        <li><a href="#">Menu one</a></li>#}
{#                        <li><a href="#">Menu Two</a></li>#}
{#						#}
					
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'resumee' %}">Register Now</a></li>


					</ul>

				</div>
			</div>   
		</nav>
                
                            <section class="list_jobs">
			<div class="container">
			
                
                <div class="row">
							<div class="col-sm-7">
								<h4>815 IT Software - Developer jobs in Hyderabad</h4>
							</div>
							
							<div class="col-sm-5">
								
								<div class="fl-right">
									<div class="search-wide">
										<h5>Short By</h5>
									</div>
									
									<div class="search-wide full">
										<select class="wide form-control">
											<option value="1">Most Recent</option>
											<option value="2">Most Viewed</option>
											<option value="4">Most Search</option>
										</select>
									</div>
								
								</div>
								
							</div>
						</div>
                
				<div class="row">
					
					<div class="col-md-3 col-sm-4">
                        
                        <div class="ful_width sidebar_filter">
					
						<h5 style="margin: 0;padding: 12px;"> Filter jobs</h5>
						
						<div class="widget-boxed padd-bot-0">
							<div class="widget-boxed-header">
								<h5>Roles</h5>
							</div>
                            
                            <div style="padding: 3px 0 0;" class="widget-boxed-body">
								<div class="search_widget_job">
									<div class="field_w_search">
										<input type="text" class="form-control" placeholder="Search Keywords">
									</div>
									
								</div>
							</div>
							<div style="padding: 0;" class="widget-boxed-body">
								<div class="side-list no-border">
									<ul id="style-3">
										<li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>Accountant

                                        </li>
										<li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>Animation

                                        </li>
                                        
                                        <li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>Architect

                                        </li>
										 
                                        <li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>Caretaker/Nanny

                                        </li><li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>Bartender

                                        </li>
										<li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>Beautician

                                        </li>
										<li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>BPO/ Telecaller

                                        </li>
                                        
                                         <li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>Caretaker/Nanny

                                        </li><li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>Bartender

                                        </li>
										<li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>Beautician

                                        </li>
										<li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>BPO/ Telecaller

                                        </li>
										
										
									</ul>
								</div>
							</div>
						</div>
						
						<div class="widget-boxed padd-bot-0">
							<div class="widget-boxed-header">
								<h5>Monthly Salary</h5>
							</div>
                         
							<div style="padding: 0;" class="widget-boxed-body">
								<div class="side-list no-border">
									<ul id="style-3">
										<li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>₹ 5,000 and above

                                        </li>
										<li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>₹ 6,000 and above

                                        </li>
                                        
                                        <li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>₹ 7,000 and above

                                        </li>
										 
                                        <li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>₹ 8,000 and above

                                        </li><li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>₹ 9,000 and above

                                        </li>
										<li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>₹ 10,000 and above

                                        </li>
										<li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>₹ 15,000 and above

                                        </li>
                                        
                                         <li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>₹ 20,000 and above

                                        </li><li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>₹ 25,000 and above   

                                        </li>
										<li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>₹ 30,000 and above

                                        </li>
										<li>
                                        <span class="custom-checkbox">
                                            <input type="checkbox" id="1">
                                            <label for="1"></label>
                                        </span>₹ 35,000 and above

                                        </li>
										
										
									</ul>
								</div>
							</div>
						</div>
						
						<div class="widget-boxed padd-bot-0">
							<div class="widget-boxed-header br-0">
								<h5>Designation <a href="#designation" data-toggle="collapse"><i class="pull-right ti-plus" aria-hidden="true"></i></a></h5>
							</div>
							<div class="widget-boxed-body collapse" id="designation">
								<div class="side-list no-border">
									<ul id="style-3">
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="a">
												<label for="a"></label>
											</span>
											Web Designer
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="b">
												<label for="b"></label>
											</span>
											Php Developer
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="c">
												<label for="c"></label>
											</span>
											Project Manager
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="d">
												<label for="d"></label>
											</span>
											Human Resource
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="e">
												<label for="e"></label>
											</span>
											CMS Developer
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="f">
												<label for="f"></label>
											</span>
											App Developer
										</li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="widget-boxed padd-bot-0">
							<div class="widget-boxed-header br-0">
								<h5>Experince <a href="#experince" data-toggle="collapse"><i class="pull-right ti-plus" aria-hidden="true"></i></a></h5>
							</div>
							<div class="widget-boxed-body collapse" id="experince">
								<div class="side-list no-border">
									<ul id="style-3">
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="11">
												<label for="11"></label>
											</span>
											1Year To 2Year
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="21">
												<label for="21"></label>
											</span>
											2Year To 3Year
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="31">
												<label for="31"></label>
											</span>
											3Year To 4Year
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="41">
												<label for="41"></label>
											</span>
											4Year To 5Year
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="51">
												<label for="51"></label>
											</span>
											5Year To 7Year
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="61">
												<label for="61"></label>
											</span>
											7Year To 10Year
										</li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="widget-boxed padd-bot-0">
							<div class="widget-boxed-header br-0">
								<h5>Qualification <a href="#qualification" data-toggle="collapse"><i class="pull-right ti-plus" aria-hidden="true"></i></a></h5>
							</div>
							<div class="widget-boxed-body collapse" id="qualification">
								<div class="side-list no-border">
									<ul id="style-3">
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="12">
												<label for="12"></label>
											</span>
											High School
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="22">
												<label for="22"></label>
											</span>
											Intermediate
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="32">
												<label for="32"></label>
											</span>
											Graduation
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="42">
												<label for="42"></label>
											</span>
											Master Degree
										</li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
					
					<!-- Start Job List -->
					
					
				
                    </div>
                    
                    <div class="no_padding_left col-md-9 col-sm-8">
                        {% for x in browjob %}

						<div class="job-verticle-list">
							<div class="vertical-job-card">
								<div class="vertical-job-header">

{#									<h5><a href="#">Placement cum traning for advanced JAVA, DOT NET, ANDROID, AWS..</a></h5>#}

								</div>
								<div class="vertical-job-body">
									<div class="row">
										<div class="col-md-9 col-sm-8">

											<ul class="can-skils">
                                                <div class="vrt-job-cmp-logo">
                                                    {% if x.logo %}
                                                 <a href="job-detail.html"><img src="{{ x.logo.url }}" class="img-responsive" alt=""></a>
                                                    {% endif %}
                                                </div>
												<li><h5><a href="#">Company Name:</a></h5> <span style="margin-bottom: 6px;display: block;">{{ x.cname }} </span></li>
                                                <p></p>
												<li><strong>Job Title: </strong>{{ x.jobtitle }}</li>
												<li><strong>KeySkills: </strong>{{ x.skills }}</li>
                                                <li><strong>Job Type: </strong>{{ x.jobtypee }}</li>
                                                <li><strong>Category</strong>: </strong>{{ x.cata }}</li>



{#													<span class="skill-tag">Photoshop</span>#}
{#													<span class="skill-tag">HTML</span>#}
{#													<span class="skill-tag">css</span>#}
{#													<span class="skill-tag">java</span>#}
{#													<span class="skill-tag">php</span>#}
{#													<span class="skill-tag">bootstrap</span>#}
												<li><strong>Experience: </strong>{{ x.exper }}</li>
												<li><strong>No Of Vacancies: </strong>{{ x.vacacy }}</li>
												<li><strong>Location: </strong>{{ x.adrres}}</li>
											</ul>
										</div>
										<div class="col-md-3 col-sm-4">
											<div class="vrt-job-act">
												<a href="{% url 'resumee' %}" class="btn-job theme-btn job-apply">Apply Now</a>
												<a href="{% url 'details' x.id %}" title="" class="btn-job light-gray-btn view_jop">View Job</a>
                                                <a href="{% url 'editrf' x.id %}" title="" class="btn-job light-gray-btn view_jop">EDIT</a>

											</div>
										</div>
									</div>
								</div>
								<div class="vertical-job-footer">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-rating">
												<ul>
                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>
													<li><span class="fa fa-inr" aria-hidden="true"></span>{{ x.package }}</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="cmp-job-review">
												<ul>

{#													<li>Posted by <span>Kadambnee Chauhan</span>, <span>Today</span></li>#}
												</ul>
											</div>
										</div>
									</div>
								</div>
                                {% endfor %}
						</div>
{#						<div class="job-verticle-list">#}
{#							<div class="vertical-job-card">#}
{#								<div class="vertical-job-header">#}
{#									#}
{#									<h5><a href="#">Placement cum traning for advanced JAVA, DOT NET, ANDROID, AWS..</a></h5>#}
{#									#}
{#								</div>#}
{#								<div class="vertical-job-body">#}
{#									<div class="row">#}
{#										<div class="col-md-9 col-sm-8">#}
{#                                           #}
{#											<ul class="can-skils">#}
{#                                                <div class="vrt-job-cmp-logo">#}
{#                                                 <a href="job-detail.html"><img src="assets/img/c-2.png" class="img-responsive" alt=""></a>#}
{#                                                </div>#}
{#												<li><h5><a href="#">Google</a></h5> <span style="margin-bottom: 6px;display: block;">Software Development</span></li>#}
{#												#}
{#												<li><strong>Job Type: </strong>Full Time</li>#}
{#												<li><strong>KeySkills: </strong>#}
{#													<span class="skill-tag">Photoshop</span>#}
{#													<span class="skill-tag">HTML</span>#}
{#													<span class="skill-tag">css</span>#}
{#													<span class="skill-tag">java</span>#}
{#													<span class="skill-tag">php</span>#}
{#													<span class="skill-tag">bootstrap</span>#}
{#												</li>#}
{#												<li><strong>Experience: </strong>3.5 Year</li>#}
{#												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>#}
{#												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>#}
{#											</ul>#}
{#										</div>#}
{#										<div class="col-md-3 col-sm-4">#}
{#											<div class="vrt-job-act">#}
{#												<a href="create_resume.html"  class="btn-job theme-btn job-apply">Apply Now</a>#}
{#												<a href="job_detail.html" title="" class="btn-job light-gray-btn view_jop">View Job</a>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#								<div class="vertical-job-footer">#}
{#									<div class="row">#}
{#										<div class="col-md-6 col-sm-6">#}
{#											<div class="cmp-job-rating">#}
{#												<ul>#}
{#                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>#}
{#													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.</li>#}
{#												</ul>#}
{#											</div>#}
{#										</div>#}
{#										<div class="col-md-6 col-sm-6">#}
{#											<div class="cmp-job-review">#}
{#												<ul>#}
{#													#}
{#													<li>Posted by <span>Kadambnee Chauhan</span>, <span>Today</span></li>#}
{#												</ul>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}

{#                        <div class="job-verticle-list">#}
{#							<div class="vertical-job-card">#}
{#								<div class="vertical-job-header">#}
{#									#}
{#									<h5><a href="#">Placement cum traning for advanced JAVA, DOT NET, ANDROID, AWS..</a></h5>#}
{#									#}
{#								</div>#}
{#								<div class="vertical-job-body">#}
{#									<div class="row">#}
{#										<div class="col-md-9 col-sm-8">#}
{#                                            <div class="vrt-job-cmp-logo">#}
{#                                             <a href="job-detail.html"><img src="assets/img/c-3.png" class="img-responsive" alt=""></a>#}
{#                                            </div>#}
{#											<ul class="can-skils">#}
{#												<li><h5><a href="#">Microsoft</a></h5> <span style="margin-bottom: 6px;display: block;">Frond End Designer </span></li>#}
{#												#}
{#												<li><strong>Job Type: </strong>Full Time</li>#}
{#												<li><strong>KeySkills: </strong>#}
{#													<span class="skill-tag">Photoshop</span>#}
{#													<span class="skill-tag">HTML</span>#}
{#													<span class="skill-tag">css</span>#}
{#													<span class="skill-tag">java</span>#}
{#													<span class="skill-tag">php</span>#}
{#													<span class="skill-tag">bootstrap</span>#}
{#												</li>#}
{#												<li><strong>Experience: </strong>3.5 Year</li>#}
{#												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>#}
{#												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>#}
{#											</ul>#}
{#										</div>#}
{#										<div class="col-md-3 col-sm-4">#}
{#											<div class="vrt-job-act">#}
{#												<a href="create_resume.html" data-toggle="modal" data-target="#apply-job" class="btn-job theme-btn job-apply">Apply Now</a>#}
{#												<a href="job_detail.html" title="" class="btn-job light-gray-btn view_jop">View Job</a>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#								<div class="vertical-job-footer">#}
{#									<div class="row">#}
{#										<div class="col-md-6 col-sm-6">#}
{#											<div class="cmp-job-rating">#}
{#												<ul>#}
{#                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>#}
{#													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.</li>#}
{#												</ul>#}
{#											</div>#}
{#										</div>#}
{#										<div class="col-md-6 col-sm-6">#}
{#											<div class="cmp-job-review">#}
{#												<ul>#}
{#													#}
{#													<li>Posted by <span>Kadambnee Chauhan</span>, <span>Today</span></li>#}
{#												</ul>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}

{#                        <div class="job-verticle-list">#}
{#							<div class="vertical-job-card">#}
{#								<div class="vertical-job-header">#}
{#									#}
{#									<h5><a href="#">Placement cum traning for advanced JAVA, DOT NET, ANDROID, AWS..</a></h5>#}
{#									#}
{#								</div>#}
{#								<div class="vertical-job-body">#}
{#									<div class="row">#}
{#										<div class="col-md-9 col-sm-8">#}
{#                                            <div class="vrt-job-cmp-logo">#}
{#                                             <a href="job-detail.html"><img src="assets/img/c-4.png" class="img-responsive" alt=""></a>#}
{#                                            </div>#}
{#											<ul class="can-skils">#}
{#                                                <li><h5><a href="#">Laxol LTD</a></h5> <span style="margin-bottom: 6px;display: block;">Frond End Designer </span></li>#}
{#												#}
{#												<li><strong>Job Type: </strong>Full Time</li>#}
{#												<li><strong>KeySkills: </strong>#}
{#													<span class="skill-tag">Photoshop</span>#}
{#													<span class="skill-tag">HTML</span>#}
{#													<span class="skill-tag">css</span>#}
{#													<span class="skill-tag">java</span>#}
{#													<span class="skill-tag">php</span>#}
{#													<span class="skill-tag">bootstrap</span>#}
{#												</li>#}
{#												<li><strong>Experience: </strong>3.5 Year</li>#}
{#												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>#}
{#												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>#}
{#											</ul>#}
{#										</div>#}
{#										<div class="col-md-3 col-sm-4">#}
{#											<div class="vrt-job-act">#}
{#												<a href="create_resume.html" class="btn-job theme-btn job-apply">Apply Now</a>#}
{#												<a href="job_detail.html" title="" class="btn-job light-gray-btn view_jop">View Job</a>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#								<div class="vertical-job-footer">#}
{#									<div class="row">#}
{#										<div class="col-md-6 col-sm-6">#}
{#											<div class="cmp-job-rating">#}
{#												<ul>#}
{#                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>#}
{#													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.</li>#}
{#												</ul>#}
{#											</div>#}
{#										</div>#}
{#										<div class="col-md-6 col-sm-6">#}
{#											<div class="cmp-job-review">#}
{#												<ul>#}
{#													#}
{#													<li>Posted by <span>Kadambnee Chauhan</span>, <span>Today</span></li>#}
{#												</ul>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}

{#                        <div class="job-verticle-list">#}
{#							<div class="vertical-job-card">#}
{#								<div class="vertical-job-header">#}
{#									#}
{#									<h5><a href="#">Placement cum traning for advanced JAVA, DOT NET, ANDROID, AWS..</a></h5>#}
{#									#}
{#								</div>#}
{#								<div class="vertical-job-body">#}
{#									<div class="row">#}
{#										<div class="col-md-9 col-sm-8">#}
{#                                            <div class="vrt-job-cmp-logo">#}
{#                                             <a href="job-detail.html"><img src="assets/img/c-5.png" class="img-responsive" alt=""></a>#}
{#                                            </div>#}
{#											<ul class="can-skils">#}
{#												<li><h5><a href="#">Indico LTD</a></h5> <span style="margin-bottom: 6px;display: block;">Frond End Designer </span></li>#}
{#												#}
{#												<li><strong>Job Type: </strong>Full Time</li>#}
{#												<li><strong>KeySkills: </strong>#}
{#													<span class="skill-tag">Photoshop</span>#}
{#													<span class="skill-tag">HTML</span>#}
{#													<span class="skill-tag">css</span>#}
{#													<span class="skill-tag">java</span>#}
{#													<span class="skill-tag">php</span>#}
{#													<span class="skill-tag">bootstrap</span>#}
{#												</li>#}
{#												<li><strong>Experience: </strong>3.5 Year</li>#}
{#												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>#}
{#												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>#}
{#											</ul>#}
{#										</div>#}
{#										<div class="col-md-3 col-sm-4">#}
{#											<div class="vrt-job-act">#}
{#												<a href="create_resume.html" class="btn-job theme-btn job-apply">Apply Now</a>#}
{#												<a href="job_detail.html" title="" class="btn-job light-gray-btn view_jop">View Job</a>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#								<div class="vertical-job-footer">#}
{#									<div class="row">#}
{#										<div class="col-md-6 col-sm-6">#}
{#											<div class="cmp-job-rating">#}
{#												<ul>#}
{#                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>#}
{#													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.</li>#}
{#												</ul>#}
{#											</div>#}
{#										</div>#}
{#										<div class="col-md-6 col-sm-6">#}
{#											<div class="cmp-job-review">#}
{#												<ul>#}
{#													#}
{#													<li>Posted by <span>Kadambnee Chauhan</span>, <span>Today</span></li>#}
{#												</ul>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}

{#                        <div class="job-verticle-list">#}
{#							<div class="vertical-job-card">#}
{#								<div class="vertical-job-header">#}
{#									#}
{#									<h5><a href="#">Placement cum traning for advanced JAVA, DOT NET, ANDROID, AWS..</a></h5>#}
{#									#}
{#								</div>#}
{#								<div class="vertical-job-body">#}
{#									<div class="row">#}
{#										<div class="col-md-9 col-sm-8">#}
{#                                            <div class="vrt-job-cmp-logo">#}
{#                                             <a href="job-detail.html"><img src="assets/img/c-7.png" class="img-responsive" alt=""></a>#}
{#                                            </div>#}
{#											<ul class="can-skils">#}
{#												<li><h5><a href="#">Indico LTD</a></h5> <span style="margin-bottom: 6px;display: block;">Frond End Designer </span></li>#}
{#												#}
{#												<li><strong>Job Type: </strong>Full Time</li>#}
{#												<li><strong>KeySkills: </strong>#}
{#													<span class="skill-tag">Photoshop</span>#}
{#													<span class="skill-tag">HTML</span>#}
{#													<span class="skill-tag">css</span>#}
{#													<span class="skill-tag">java</span>#}
{#													<span class="skill-tag">php</span>#}
{#													<span class="skill-tag">bootstrap</span>#}
{#												</li>#}
{#												<li><strong>Experience: </strong>3.5 Year</li>#}
{#												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>#}
{#												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>#}
{#											</ul>#}
{#										</div>#}
{#										<div class="col-md-3 col-sm-4">#}
{#											<div class="vrt-job-act">#}
{#												<a href="create_resume.html" class="btn-job theme-btn job-apply">Apply Now</a>#}
{#												<a href="job_detail.html" title="" class="btn-job light-gray-btn view_jop">View Job</a>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#								<div class="vertical-job-footer">#}
{#									<div class="row">#}
{#										<div class="col-md-6 col-sm-6">#}
{#											<div class="cmp-job-rating">#}
{#												<ul>#}
{#                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>#}
{#													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.</li>#}
{#												</ul>#}
{#											</div>#}
{#										</div>#}
{#										<div class="col-md-6 col-sm-6">#}
{#											<div class="cmp-job-review">#}
{#												<ul>#}
{#													#}
{#													<li>Posted by <span>Kadambnee Chauhan</span>, <span>Today</span></li>#}
{#												</ul>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}

{#                        <div class="job-verticle-list">#}
{#							<div class="vertical-job-card">#}
{#								<div class="vertical-job-header">#}
{#									#}
{#									<h5><a href="#">Placement cum traning for advanced JAVA, DOT NET, ANDROID, AWS..</a></h5>#}
{#									#}
{#								</div>#}
{#								<div class="vertical-job-body">#}
{#									<div class="row">#}
{#										<div class="col-md-9 col-sm-8">#}
{#                                            <div class="vrt-job-cmp-logo">#}
{#                                             <a href="job-detail.html"><img src="assets/img/c-8.png" class="img-responsive" alt=""></a>#}
{#                                            </div>#}
{#											<ul class="can-skils">#}
{#												<li><h5><a href="#">CYFUTURE INDIA PRIVATE LIMITED </a></h5> <span style="margin-bottom: 6px;display: block;">Sr. Web Designer</span></li>#}
{#												#}
{#												<li><strong>Job Type: </strong>Full Time</li>#}
{#												<li><strong>KeySkills: </strong>#}
{#													<span class="skill-tag">Photoshop</span>#}
{#													<span class="skill-tag">HTML</span>#}
{#													<span class="skill-tag">css</span>#}
{#													<span class="skill-tag">java</span>#}
{#													<span class="skill-tag">php</span>#}
{#													<span class="skill-tag">bootstrap</span>#}
{#												</li>#}
{#												<li><strong>Experience: </strong>3.5 Year</li>#}
{#												<li><strong>Job Description: </strong> <span class="desc">Should be comfortable with individual contributor role;Good proficient in all design aspects;Graduate ...</span></li>#}
{#												<li><strong>Location: </strong><span></span>Hyderabad - Ameerpet, A S Rao Nagar, Dilsukh Nagar, Madhapur</li>#}
{#											</ul>#}
{#										</div>#}
{#										<div class="col-md-3 col-sm-4">#}
{#											<div class="vrt-job-act">#}
{#												<a href="create_resume.html" class="btn-job theme-btn job-apply">Apply Now</a>#}
{#												<a href="job_detail.html" title="" class="btn-job light-gray-btn view_jop">View Job</a>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#								<div class="vertical-job-footer">#}
{#									<div class="row">#}
{#										<div class="col-md-6 col-sm-6">#}
{#											<div class="cmp-job-rating">#}
{#												<ul>#}
{#                                                    <li><span class="fa fa-star-o" aria-hidden="true"></span></li>#}
{#													<li><span class="fa fa-inr" aria-hidden="true"></span> 1,00,000 - 6,00,000 P.A.</li>#}
{#												</ul>#}
{#											</div>#}
{#										</div>#}
{#										<div class="col-md-6 col-sm-6">#}
{#											<div class="cmp-job-review">#}
{#												<ul>#}
{#													#}
{#													<li>Posted by <span>Kadambnee Chauhan</span>, <span>Today</span></li>#}
{#												</ul>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}

						<div class="text-center">
							<button type="button" class="btn theme-btn btn-m">Load More...</button>
						</div>

					</div>

                    </div>
				<!-- End Row -->
				
			</div>
            </div>
		</section>
                        </div>
                    </div>
            </div>

                            {% endblock %}
                            
{#		<footer class="dark-bg footer">#}
{#			<div class="">#}
{#				#}
{#				<!-- Row Start -->#}
{#				<div class="row">#}
{#				#}
{#					<div class="col-md-12 col-sm-12">#}
{#						<div class="row">#}
{#							<div class="col-md-3 col-sm-3">#}
{#								<h4>Featured Job</h4>#}
{#								<ul>#}
{#									<li><a href="#">Browse Jobs</a></li>#}
{#									<li><a href="#">Premium MBA Jobs</a></li>#}
{#									<li><a href="#">Access Database</a></li>#}
{#									<li><a href="#">Manage Responses</a></li>#}
{#									<li><a href="#">Report a Problem</a></li>#}
{#									<li><a href="#">Mobile Site</a></li>#}
{#								</ul>#}
{#							</div>#}
{#							<div class="col-md-3 col-sm-3">#}
{#								<h4>Featured Job</h4>#}
{#								<ul>#}
{#									<li><a href="#">Browse Jobs</a></li>#}
{#									<li><a href="#">Premium MBA Jobs</a></li>#}
{#									<li><a href="#">Access Database</a></li>#}
{#									<li><a href="#">Manage Responses</a></li>#}
{#									<li><a href="#">Report a Problem</a></li>#}
{#									<li><a href="#">Mobile Site</a></li>#}
{#								</ul>#}
{#							</div>#}
{#							<div class="col-md-3 col-sm-3">#}
{#								<h4>Featured Job</h4>#}
{#								<ul>#}
{#									<li><a href="#">Browse Jobs</a></li>#}
{#									<li><a href="#">Premium MBA Jobs</a></li>#}
{#									<li><a href="#">Access Database</a></li>#}
{#									<li><a href="#">Manage Responses</a></li>#}
{#									<li><a href="#">Report a Problem</a></li>#}
{#									<li><a href="#">Mobile Site</a></li>#}
{#								</ul>#}
{#							</div>#}
{#                            #}
{#                            <div class="col-md-3 col-sm-3">#}
{#								<h4>Featured Job</h4>#}
{#								<ul>#}
{#									<li><a href="#">Browse Jobs</a></li>#}
{#									<li><a href="#">Premium MBA Jobs</a></li>#}
{#									<li><a href="#">Access Database</a></li>#}
{#									<li><a href="#">Manage Responses</a></li>#}
{#									<li><a href="#">Report a Problem</a></li>#}
{#									<li><a href="#">Mobile Site</a></li>#}
{#								</ul>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					#}
{#					#}
{#					#}
{#				</div>#}
{#				#}
{#				#}
{#			</div>#}
{#		</footer>#}
{#		#}
{#		<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">#}
{#			<div class="modal-dialog">#}
{#				<div class="modal-content" id="myModalLabel1">#}
{#					<div class="modal-body">#}
{#						<div class="text-center"><img src="assets/img/logo.png" class="img-responsive" alt=""></div>#}
{#						#}
{#						<!-- Nav tabs -->#}
{#						<ul class="nav nav-tabs nav-advance theme-bg" role="tablist">#}
{#							<li class="nav-item active">#}
{#								<a class="nav-link" data-toggle="tab" href="#employer" role="tab">#}
{#								<i class="ti-user"></i> Employer</a>#}
{#							</li>#}
{#							<li class="nav-item">#}
{#								<a class="nav-link" data-toggle="tab" href="#candidate" role="tab">#}
{#								<i class="ti-user"></i> Candidate</a>#}
{#							</li>#}
{#						</ul>#}
{#						<!-- Nav tabs -->#}
{#							#}
{#						<!-- Tab panels -->#}
{#						<div class="tab-content">#}
{#						#}
{#							<!-- Employer Panel 1-->#}
{#							<div class="tab-pane fade in show active" id="employer" role="tabpanel">#}
{#								<form>#}
{#									#}
{#									<div class="form-group">#}
{#										<label>User Name</label>#}
{#										<input type="text" class="form-control" placeholder="User Name">#}
{#									</div>#}
{#									#}
{#									<div class="form-group">#}
{#										<label>Password</label>#}
{#										<input type="password" class="form-control" placeholder="*********">#}
{#									</div>#}
{#									#}
{#									<div class="form-group">#}
{#										<span class="custom-checkbox">#}
{#											<input type="checkbox" id="4">#}
{#											<label for="4"></label>Remember me#}
{#										</span>#}
{#										<a href="#" title="Forget" class="fl-right">Forgot Password?</a>#}
{#									</div>#}
{#									<div class="form-group text-center">#}
{#										<button type="button" class="btn theme-btn full-width btn-m">LogIn </button>#}
{#									</div>#}
{#									#}
{#								</form>#}
{#								#}
{#								<div class="log-option"><span>OR</span></div>#}
{#								#}
{#								<div class="row mrg-bot-20">#}
{#									<div class="col-md-6">#}
{#										<a href="#" title="" class="fb-log-btn log-btn"><i class="fa fa-facebook"></i>Sign In With Facebook</a>#}
{#									</div>#}
{#									<div class="col-md-6">#}
{#										<a href="#" title="" class="gplus-log-btn log-btn"><i class="fa fa-google-plus"></i>Sign In With Google+</a>#}
{#									</div>#}
{#								</div>#}
{#					#}
{#							</div>#}
{#							<!--/.Panel 1-->#}
{#							#}
{#							<!-- Candidate Panel 2-->#}
{#							<div class="tab-pane fade" id="candidate" role="tabpanel">#}
{#								<form>#}
{#									#}
{#									<div class="form-group">#}
{#										<label>User Name</label>#}
{#										<input type="text" class="form-control" placeholder="User Name">#}
{#									</div>#}
{#									#}
{#									<div class="form-group">#}
{#										<label>Password</label>#}
{#										<input type="password" class="form-control" placeholder="*********">#}
{#									</div>#}
{#									#}
{#									<div class="form-group">#}
{#										<span class="custom-checkbox">#}
{#											<input type="checkbox" id="44">#}
{#											<label for="44"></label>Remember me#}
{#										</span>#}
{#										<a href="#" title="Forget" class="fl-right">Forgot Password?</a>#}
{#									</div>#}
{#									<div class="form-group text-center">#}
{#										<button type="button" class="btn theme-btn full-width btn-m">LogIn </button>#}
{#									</div>#}
{#									#}
{#								</form>#}
{#								#}
{#								<div class="log-option"><span>OR</span></div>#}
{#								#}
{#								<div class="row mrg-bot-20">#}
{#									<div class="col-md-6">#}
{#										<a href="#" title="" class="fb-log-btn log-btn"><i class="fa fa-facebook"></i>Sign In With Facebook</a>#}
{#									</div>#}
{#									<div class="col-md-6">#}
{#										<a href="#" title="" class="gplus-log-btn log-btn"><i class="fa fa-google-plus"></i>Sign In With Google+</a>#}
{#									</div>#}
{#								</div>#}
{#								#}
{#							</div>#}
{#							<!--/.Panel 2-->#}
{#							#}
{#						</div>#}
{#						<!-- Tab panels -->#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>   #}
{#    #}
{#                        </div>#}
{#                    </div>#}
{#			</div>#}
{#        #}
{#		#}
{#		 #}
{#		<script src="assets/js/jquery.min.js"></script>#}
{#		<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>#}
{#		<script src="assets/plugins/bootstrap/js/bootsnav.js"></script>#}
{#		<script src="assets/js/viewportchecker.js"></script>#}
{#		<script src="assets/plugins/slick-slider/slick.js"></script>#}
{#		<script src="assets/plugins/bootstrap/js/wysihtml5-0.3.0.js"></script>#}
{#		<script src="assets/plugins/bootstrap/js/bootstrap-wysihtml5.js"></script>#}
{#		#}
{#		<script src="assets/plugins/nice-select/js/jquery.nice-select.min.js"></script>#}
{#		<script src="assets/js/custom.js"></script>#}
{#		<script src="assets/js/main.js"></script>#}
{#		#}
{#    </body>#}
{##}
{#</html>#}
